<?xml version="1.0" encoding="UTF-8" ?>

<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
    id="cordova-plugin-root-detector-v2"
    version="1.0.0">
    <name>Root Detector BCH</name>
    <description>Test 1</description>
    <license>MIT</license>
    <keywords>android,root,detector</keywords>

    <!-- Android -->
    <platform name="android">
        <js-module src="www/rootdetectorv2.js" name="plugin">
            <runs />
            <clobbers target="rootdetectorv2" />
        </js-module>
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="rootdetectorv2">
                <param name="android-package" value="com.shishigang.RootDetectorv2" />
                <param name="onload" value="true" />
            </feature>
        </config-file>
        <source-file src="src/android/com/shishigang/RootDetectorv2.java" target-dir="src/com/shishigang" />
    </platform>
</plugin>